<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @sold.shop_id %>
</p>

<p>
  <strong>Product option:</strong>
  <%= @sold.product_option_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @sold.user_id %>
</p>

<%= link_to 'Edit', edit_sold_path(@sold) %> |
<%= link_to 'Back', solds_path %>
